body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.budget {
  --backdrop: var(--accent);
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 32.2%;
  flex: 1 1 32.2%;
  max-width: 450px;
  -webkit-box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  background-color: var(--bkg);
  border-radius: var(--round-lg);
  border: 5px solid hsl(var(--backdrop));
  padding: calc(var(--space-md) / 1.5) calc(var(--space-md) / 1.2);
  gap: var(--space-sm);
  text-decoration: none;
  color: hsl(var(--backdrop));
}

.budget > .flex-sm {
  padding-top: var(--space-sm);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.progress-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: var(--space-lg);
  margin-top: 25px;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.progress-text :nth-child(2) {
  text-align: right;
}

.progress-text:nth-of-type(2) :nth-child(2) {
  color: hsl(var(--muted));
}

.grid-md {
  justify-content: center;
  display: -ms-grid;
  display: grid;
  gap: var(--space-md);
  width: 100%;
}

.grid-lg {
  display: -ms-grid;
  display: grid;
  gap: var(--space-lg);
  width: 100%;
}

.flex-lg {
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-lg);
}

